 .home {
     box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.03);
     background: #fff;
 }

 .wrapper {
     margin: 0px 40px;
     padding: 10px;
 }

 .nav-area {
     background-color: #FFFFFF;
     display: flex;
 }

 .nav-area>ul {
     list-style: none;
     display: flex;
     margin: 0;
     padding: 0;
 }

 .nav-area li {
     margin-right: 2em;
 }

 .rightside {
     display: flex;
     justify-content: flex-end;
     flex: 1;
     margin-right: 8px;
 }

 #logo {
     height: 100px;
     width: 200px;
     overflow: hidden;
 }

 .nav-area-link {
     margin-top: 25px;
 }

 ::-webkit-input-placeholder {
     font-size: 14px;
 }

 ::-moz-placeholder {
     font-size: 14px;
 }

 :-ms-input-placeholder {
     font-size: 14px;
 }

 :-moz-placeholder {
     font-size: 14px;
 }

 .kar-hyper-link {
     color: #1D2941;
     font-family: Lato;
     font-size: 14px;
     letter-spacing: 0;
     line-height: 17px;
     text-transform: uppercase;
 }

 .kra-header-dropdown {
     margin-top: 13px;
     margin-left: 10px;
 }

 .kra-header-dropdown .dropdown-toggle {
     background: #fff !important;
     border-color: #fff !important;
     color: black !important;
     box-shadow: none !important;
 }

 .kra-header-dropdown .dropdown-item {
     background: #fff !important;
     border-color: #fff !important;
     color: black !important;
     box-shadow: none !important;
 }

 .kra-header-dropdown .dropdown-menu {
     min-width: 8rem;
 }

 .kar-hyper-link-selected {
     color: #5144DD !important;
     padding: 0px 2px 25px 2px;
     border-bottom: 2px solid #5144DD;
 }