/* padding */

.kar-p0 {
    padding: 0px;
}

.kar-p20 {
    padding: 20px;
}
.kar-pt70 {
    padding-top: 70px !important;
}

/* margin */

.kar-mt20 {
    margin-top: 20px !important;
}

.kar-mauto {
    margin: auto !important;
}

.kar-mt5 {
    margin-top: 5px !important;
}

.kar-mt7 {
    margin-top: 7px !important;
}

.kar-ml20 {
    margin-left: 20px !important;
}

.kar-mr20 {
    margin-right: 20px !important;
}

.kar-mr10 {
    margin-right: 10px !important;
}

.kar-mt50 {
    margin-top: 50px !important;
}

.kar-mt70 {
    margin-top: 70px !important;
}

.kar-mb10 {
    margin-bottom: 10px !important;
}


/* direction */

.kar-fl {
    float: left;
}

.kar-fr {
    float: right;
}

.kar-pos-rel {
    position: relative;
}

/* other */

.kar-table-sec {
    margin-top: 20px;
    padding: 30px 20px;
    background: #fff;
    border-radius: 20px;
}

.kar-cursor-pointer {
    cursor: pointer;
}