.kar-add-dis {
    height: 60px;
    width: 300px;
    border-radius: 30px;
    background: linear-gradient(141.44deg, #6558F4 0%, #2C1FB5 100%);
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}