.kar-add-zone-model .modal-dialog {
    max-width: 600px !important;
}

.kar-add-zone-model .modal-content {
    border-radius: 20px;
    border: none;
}

.kar-add-zone-model .modal-title {
    margin: auto;
    color: #0B0C1F;
    font-family: Lato;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 39px;
}

.kar-add-zone-model .modal-header {
    background-color: #F6F6F6;
    border-radius: 20px 20px 0 0;
    border: none;
}

.kar-add-zone-close-btn {
    position: absolute;
    right: -40px;
    top: -40px;
}

.kar-add-zone-btn {
    height: 60px;
    width: 300px;
    border-radius: 30px;
    background: linear-gradient(141.44deg, #6558F4 0%, #2C1FB5 100%);
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.kar-add-zone-model .modal-footer {
    border: none;
}